/* Autori: Zuzana Hrkľová, Jakub Vaňo */

.boat{
    height: 5vmin;
}
.colorButton{
    border: none;
    border-radius: 8px;
    color: transparent;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(5px + 2vmin);
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.8rem;
}

.action {
    background-color: black;
}

.MainPage_button{
    background-color: rgb(77, 157, 194);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: calc(5px + 2vmin);
    margin-top: 0.8rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0.8rem;
    font-family: 'Open Sans';
}

.rows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
}
.divider{
    width: auto;
    height: 100px;
    display:inline-block;
}
.fake_button{ 
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(5px + 2vmin);
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 00.8rem;
    background-color: transparent;
    color: transparent; 
}
.top_right{
    position: absolute;
    top:0;
    right:0;
}
.top_left{
    position: absolute;
    top:0;
    left:0;
}