/* Autori: Zuzana Hrkľová, Jakub Vaňo */

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    
    font-size: 15px;
    background-color: #282c34;
    color: white;
    text-align: center;
    text-decoration: none;
}
.popup-inner .close-btn{
    position: absolute;
    background-color: #20A6B9;
    color: white;
    border: none;
    border-radius: 8px;

    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(5px + 2vmin);

    top: 16px;
    right: 16px;
}